<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>InternetServiceProvider</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>t_1_AdminLogin</display-name>
    <servlet-name>t_1_AdminLogin</servlet-name>
    <servlet-class>com.Tejas.ISP.t_1_AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>t_1_AdminLogin</servlet-name>
    <url-pattern>/t_1_AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceManLogin</display-name>
    <servlet-name>ServiceManLogin</servlet-name>
    <servlet-class>com.Tejas.ISP.ServiceManLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceManLogin</servlet-name>
    <url-pattern>/ServiceManLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>com.Tejas.ISP.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/CustomerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>t_22_MarkSolvedBySman</display-name>
    <servlet-name>t_22_MarkSolvedBySman</servlet-name>
    <servlet-class>com.Tejas.ISP.t_22_MarkSolvedBySman</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>t_22_MarkSolvedBySman</servlet-name>
    <url-pattern>/t_22_MarkSolvedBySman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateOtpServlet</display-name>
    <servlet-name>GenerateOtpServlet</servlet-name>
    <servlet-class>com.Tejas.ISP.GenerateOtpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateOtpServlet</servlet-name>
    <url-pattern>/GenerateOtpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordForAdmin</display-name>
    <servlet-name>ChangePasswordForAdmin</servlet-name>
    <servlet-class>com.Tejas.ISP.ChangePasswordForAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordForAdmin</servlet-name>
    <url-pattern>/ChangePasswordForAdmin</url-pattern>
  </servlet-mapping>
</web-app>